In [1]:
import pandas as pd

In [38]:
df = pd.read_csv('AB Detail Reporting Centre.csv')
new = df.dropna(how='all')   # remove all blank rows
new = new[new['Action']!='Unwind']     # remove previous unwind

In [49]:
new['Parent'].unique()

array(['AB Centre Groups', nan, 'AB Centre View', 'ABGCC-074',
       'ABGCC-003', 'ABGCC-022', 'ABGCC-011', 'ABGCC-012', 'ABGCC-015',
       'ABGCC-016', 'ABGCC-017', 'ABGCC-010', 'ABGCC-002', 'ABGCC-001',
       'ABGCC-007', 'ABGCC-008', 'ABGCC-009', 'ABGCC-018', 'ABGCC-019',
       'ABGCC-020', 'ABGCC-021', 'ABGCC-006', 'ABGCC-025', 'ABGCC-024',
       'ABGCC-013', 'ABGCC-014', 'ABGCC-023', 'ABGCC-032', 'ABGCC-034',
       'ABGCC-042', 'ABGCC-043', 'ABGCC-044', 'ABGCC-045', 'ABGCC-046',
       'ABGCC-047', 'ABGCC-048', 'ABGCC-049', 'ABGCC-050', 'ABGCC-051',
       'ABGCC-052', 'ABGCC-053', 'ABGCC-054', 'ABGCC-055', 'ABGCC-056',
       'ABGCC-057', 'ABGCC-058', 'ABGCC-059', 'ABGCC-060', 'ABGCC-061',
       'ABGCC-062', 'ABGCC-063', 'ABGCC-064', 'ABGCC-065', 'ABGCC-066',
       'ABGCC-067', 'ABGCC-026'], dtype=object)

In [50]:
mylist = ['ABGCC-042','ABGCC-045']
test  = new[new['Parent'].isin(mylist)]

In [40]:
# this is how to remove parent keys and create unwind
mylist = ['MIRB3995','MIRB4079']
remove = test[~test['Element'].isin(mylist)]
unwind = test[test['Element'].isin(mylist)]
unwind.loc[:,'Action'] = 'Unwind'
remove.append(unwind)

/Users/ronny/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Action,Element,Parent,Element Type,Weighting,Attribute,Attribute Type,Attribute Value,Filter
844,Add,MI504106,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
845,Add,MICB2508,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
846,Add,MI187113,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
847,Add,MIRB0819,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
849,Add,MI187360,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
851,Add,MI211480,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
852,Add,MIRB7210,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
848,Unwind,MIRB3995,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
850,Unwind,MIRB4079,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN

In [71]:
# this is how to remove the whole grouping and create unwind (work in progress and still not fully right)
mylist = ['ABGCC-042']
remove = new[(~new['Parent'].isin(mylist)) | (~new['Element'].isin(mylist))]  # not in
unwind = new[(new['Element'].isin(mylist)) | (new['Parent'].isin(mylist)) ]   # is in
unwind.loc[:,'Action'] = 'Unwind'
unwind.dropna(subset=['Parent'],inplace=True)
remove.append(unwind)

/Users/ronny/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
<ipython-input-71-a637a7dc8536>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unwind.dropna(subset=['Parent'],inplace=True)

,Action,Element,Parent,Element Type,Weighting,Attribute,Attribute Type,Attribute Value,Filter
714,Add,ABGCC-013,AB Centre Groups,C,1.0,NaN,NaN,NaN,NaN
715,Add,ABGCC-014,AB Centre Groups,C,1.0,NaN,NaN,NaN,NaN
716,Add,ABGCC-023,AB Centre Groups,C,1.0,NaN,NaN,NaN,NaN
718,Add,AB Centre View,NaN,C,1.0,NaN,NaN,NaN,NaN
719,Add,MIRB4152,AB Centre View,C,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
848,Unwind,MIRB3995,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
849,Unwind,MI187360,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
850,Unwind,MIRB4079,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
851,Unwind,MI211480,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN
852,Unwind,MIRB7210,ABGCC-042,C,1.0,NaN,NaN,NaN,NaN

In [102]:

from pandas import DataFrame

add     = [['MI504106','ABGCC-042'],
          ['MIRB3995','ABGCC-042']]

s = DataFrame(add)
s.columns=['Element','Parent']
s['Action'] = "Add"
s['Element Type'] = 'C'
s['Weighting'] = 1

x = ['Action', 'Element', 'Parent', 'Element Type', 'Weighting', 'Attribute',
       'Attribute Type', 'Attribute Value', 'Filter']
x = pd.DataFrame(columns=x)
x.append(s)

,Action,Element,Parent,Element Type,Weighting,Attribute,Attribute Type,Attribute Value,Filter
0,Add,MI504106,ABGCC-042,C,1,NaN,NaN,NaN,NaN
1,Add,MIRB3995,ABGCC-042,C,1,NaN,NaN,NaN,NaN

In [112]:
from pandas import DataFrame

parms   = [
           ['Add','MI504106','ABGCC-042'],
           ['Add','MIRB3995','ABGCC-042'],
           ['Remove','*','ABGCC-042'],
           ['Remove','MIRB3995','*'],
           ['Remove','MI211480','ABGCC-042']
          ]

usertbl = DataFrame(parms)

        0         1          2
0     Add  MI504106  ABGCC-042
1     Add  MIRB3995  ABGCC-042
2  Remove         *  ABGCC-042
3  Remove  MIRB3995          *
4  Remove  MI211480  ABGCC-042

[['Add', 'MI504106', 'ABGCC-042'],
 ['Add', 'MIRB3995', 'ABGCC-042'],
 ['Remove', '*', 'ABGCC-042']]