In [826]:
####### USER INPUT #######

OpenBal = 29050    # type bal as at 1 Jan 2021
mydate = pd.to_datetime('2021-05-31')    # enter the date you want to forecast

In [827]:

def cat(mytext):
    
    # list of keywords, add as you find new ones
    WolliRent        = ['slick','carena','wolli income']
    WolliInterest    = ['LN REPAY 778047926','wolli expense','package annual']
    ThePondRent      = ['harcourts','hills Prestige','hillside','the pond income']
    ThePondInterest  = ['876891821','778047934','the pond expense','admiral']
    Grocery          = ['Coles','woolworths','woolworth','tongli','WW Metro','supermarket','iga']
    Entertainment    = ['rebel','chemist','mcdonald','malatang','kmart','office','chatime','kogan','tea','indo'
                       ,'pondok','bread','subway','gong','chinese','kfc','mie','ciak','japanese','thai',
                       'saigon','bakery','racha','taste','food','card pocket money','sushi','domino','coffee',
                       'denmar','kurtosh','toastie','mazesoba','dopa','yummy','satang','daiso','bunning',
                       'reject shop','dough','kitkat','harper','woollahra ps','cafe','marigold','decathlon',
                       '7-eleven','merlin','golden summit','lamb','the growers','pancake','petok','pendopo',
                       'makan','grandbuy','churro','harry','big w','jim','martabak','emperors','pork','juice'
                       ,'chai','kopi','target','mart','butcher','sawah','water','aqua','sheng','crocodile']
    Salary           = ['salary']
    Utilities        = ['TPG','ENERGY','AGL','Netflix','OPTUS','Gas','Electricity','Telco','Prime']
    Insurance        = ['life','ins','medibank']
    Car              = ['Top One','AAMI','BPme','Etoll','Petrol']
    Rental           = ['Quay','DEFT RENT']
    Excluded         = ['Payment','2k']
    Discretionary    = ['Transfer To','Cardless Cash','Reid Cycle','Ikea',
                        'Good Guys','Harvey','JB Hi-Fi','CrazySales','cosmetic','baby','zara','H&M'
                        ,'Cotton On','uniqlo']
    # combine all the categories into one list called collection
    collection      = [WolliRent,WolliInterest,ThePondRent,ThePondInterest,Grocery,Entertainment,Salary,
                       Utilities,Insurance,Car,Rental,Excluded,Discretionary]


    for i in range(len(collection)):
        for k in range(len(collection[i])):
            if collection[i][k].lower() in mytext.lower():
                if i == 0:
                    cat = 'Wolli - Income'
                elif i == 1:
                    cat = 'Wolli - Expense'
                elif i == 2:
                    cat = 'The Pond - Income'
                elif i == 3:
                    cat = 'The Pond - Expense'
                elif i == 4:
                    cat = 'Grocery'
                elif i == 5:
                    cat = 'Food & Entertainment'
                elif i == 6:
                    cat = 'Salary'
                elif i == 7:
                    cat = 'Utilities'   
                elif i == 8:
                    cat = 'Insurance'   
                elif i == 9:
                    cat = 'Car'   
                elif i == 10:
                    cat = 'Rental'
                elif i == 11:
                    cat = 'Exclude'
                elif i == 12:
                    cat = 'Discretionary'   
                return cat

In [828]:
import pandas as pd
import numpy as np

EndDate = '2021-12-31'


######## input your forecast/budget number to the list below ###########
     
            # Desc         Amt  Start Date  Freq Offfset
mylist = [['The Pond Income  - Rent'       ,650,'2021-01-5','','7D',0],
          ['The Pond Expense - WBC'        ,-889,'2021-01-6','','7D',0],
          ['The Pond Expense - CBA1'       ,-161,'2020-12-7','','MS',6],
          ['The Pond Expense - CBA2'       ,-307,'2020-12-9','','MS',9],
          ['The Pond Income  - Tree'       ,-400,'2021-01-15','2021-01-15','7D',0],    # adhoc just put end end date
          ['The Pond Income  - Water Pump' ,-1450,'2021-01-15','2021-01-15','7D',0],    # adhoc just put end e
          ['The Pond Income  - Water'      ,-147,'2021-01-1','','3MS',0],
          ['The Pond Income  - Council'    ,-400,'2021-02-28','','3MS',27],
          
          
          ['Wolli Income  - Rent'      ,450,'2021-02-06','','7D',0],
          ['Wolli Expense - Strata'    ,-1183,'2021-03-26','','3MS',25],
          ['Wolli Expense - Water'     ,-144,'2021-04-20','','3MS',19],
          ['Wolli Expense - Council'   ,-348,'2021-02-28','','3MS',27],
          ['Wolli Expense - CBA'       ,-311,'2021-01-6','','7D',0],
          ['Wolli Expense - Insurance' ,-35.59,'2021-01-15','','MS',15],
          
          
          ['Salary'              ,3413.17,'2021-01-13','','14D',0],
          ['Tax Return'          ,7000,'2021-07-30','2021-07-30','7D',0],
          ['Rent Quay St'        ,-700,'2021-01-4','','7D',0],
          ['Parents'             ,-100,'2021-01-4','','7D',0],
          ['Var Food & Ent'      ,-375,'2021-01-4','','7D',0],
          
          ['AAMI Car'            ,-94.2,'2020-12-18','','MS',17],
          ['Car Petrol'          ,-30,'2021-01-01','','7D',0],
          ['TPG'                 ,-59.99,'2020-12-2','','MS',1],
          ['Gas'                 ,-191,'2020-12-5','','MS',4],
          ['Electricity'         ,-238,'2021-02-25','','3MS',24],  #MS means beg of month, M means end of month
          ['Optus'               ,-60,'2020-12-21','','MS',20],
         ]

########################################################################


df = pd.DataFrame(columns=['Date','Description','Amount'])

for i in range(len(mylist)):
    if mylist[i][3] == '':
        ToDate = EndDate
        #print(ToDate,mylist[i][0])
    else:
        ToDate = mylist[i][3]
        #print(ToDate,mylist[i][0])
    date = pd.date_range(mylist[i][2],ToDate,freq=mylist[i][4]) + pd.DateOffset(days=mylist[i][5])
    amount = mylist[i][1]
    desc = mylist[i][0]
    tmp = pd.DataFrame({'Date':date,'Description':desc,'Amount':amount})
    df = df.append(tmp)   
    
# add Period
df['Period'] = pd.to_datetime(df['Date'],dayfirst=True).dt.to_period('M')
df['Cat']= df.apply(lambda x:cat(x['Description']),axis=1)
#df['YTD'] = df.groupby(['Description'])['Amount'].transform(pd.Series.cumsum)


# create forecast table for specific period
tbl_forecast = df[df['Date']<=mydate].sort_values('Cat')
forecast = tbl_forecast[['Cat','Amount']].groupby(['Cat']).sum().reset_index()


########### download and run actual from CBA statements etc   ##########


import pandas as pd
cba = pd.read_csv(r'/Users/ronny/Downloads/CSVData-9.csv', header=None,usecols=[0,1,2])
cba.columns=['Date','Amount','Description']


cba['Cat'] = cba.apply(lambda x:cat(x['Description']),axis=1)
cba['Cat'].fillna('Other',inplace=True)
# add Period
cba['Period'] = pd.to_datetime(cba['Date'],dayfirst=True).dt.to_period('M')
tbl_actual = cba

#cba.to_csv(r'C:\Users\m118954\mydsbook\Data\CSVData2.csv')

actual = cba.groupby('Cat').sum().reset_index()


budget = pd.merge(forecast,actual,on=['Cat'],how='left')
budget['Var'] = budget['Amount_y'] - budget['Amount_x']
budget.columns=['Category','Forecast','Actual','Variance']

In [829]:
pd.options.display.float_format = '{:,.2f}'.format
from IPython.display import display

import datetime 


bal = df[df['Date']<=mydate]['Amount'].sum()
df1 = df[df['Date']<=mydate].groupby(['Description']).sum()

display ('Your Forecast Income at the end of ' + str(mydate) + ' is ' + str(bal))
display ('Your Forecast Balance at the end of ' + str(mydate) + ' is ' + str(bal+OpenBal))


df1 = df1.reset_index()
df1['Cat']= df1.apply(lambda x:cat(x['Description']),axis=1)
df1 = df1[['Cat','Description','Amount']].sort_values('Cat')



print ('### This is how you are tracking against forecast in your CBA Offset ####')
display(budget)


print ('\n\n #### Report 2 - Granular Forecast ####')
display(df1)

'Your Forecast Income at the end of 2021-05-31 00:00:00 is -5243.6100000000015'

'Your Forecast Balance at the end of 2021-05-31 00:00:00 is 23806.39'

### This is how you are tracking against forecast in your CBA Offset ####

               Category   Forecast    Actual   Variance
0                   Car  -1,131.00    -94.20   1,036.80
1  Food & Entertainment  -8,250.00 -1,402.22   6,847.78
2                Rental -15,400.00 -2,100.00  13,300.00
3                Salary  34,131.70  3,156.80 -30,974.90
4    The Pond - Expense -21,009.00 -3,138.52  17,870.48
5     The Pond - Income  11,106.00    611.50 -10,494.50
6             Utilities  -1,792.95   -311.99   1,480.96
7       Wolli - Expense  -8,348.36   -933.00   7,415.36
8        Wolli - Income   7,650.00       nan        nan

 #### Report 2 - Granular Forecast ####

                     Cat                    Description     Amount
0                    Car                       AAMI Car    -471.00
1                    Car                     Car Petrol    -660.00
17  Food & Entertainment                 Var Food & Ent  -8,250.00
6                 Rental                   Rent Quay St -15,400.00
7                 Salary                         Salary  34,131.70
9     The Pond - Expense        The Pond Expense - CBA1    -805.00
10    The Pond - Expense        The Pond Expense - CBA2  -1,535.00
11    The Pond - Expense         The Pond Expense - WBC -18,669.00
16     The Pond - Income  The Pond Income  - Water Pump  -1,450.00
15     The Pond - Income       The Pond Income  - Water    -294.00
14     The Pond - Income        The Pond Income  - Tree    -400.00
13     The Pond - Income        The Pond Income  - Rent  13,650.00
12     The Pond - Income     The Pond Income  - Council    -400.00
8              Utilities                            TPG    -299.95
4              Utilities                          Optus    -300.00
3              Utilities                            Gas    -955.00
2              Utilities                    Electricity    -238.00
18       Wolli - Expense            Wolli Expense - CBA  -6,531.00
19       Wolli - Expense        Wolli Expense - Council    -348.00
20       Wolli - Expense      Wolli Expense - Insurance    -142.36
21       Wolli - Expense         Wolli Expense - Strata  -1,183.00
22       Wolli - Expense          Wolli Expense - Water    -144.00
23        Wolli - Income           Wolli Income  - Rent   7,650.00
5                   None                        Parents  -2,200.00

# Used Below query to see details of discrepancy ac vs forecast

In [830]:
from IPython.display import display


check = 'Car'
chk_forecast = tbl_forecast[tbl_forecast['Cat']==check]
chk_actual =  tbl_actual[tbl_actual['Cat']==check]

print ('#### Forecast Details ####')
display (chk_forecast)

print ('#### Actual Details ####')
display (chk_actual)

#### Forecast Details ####

         Date Description Amount   Period  Cat
17 2021-04-30  Car Petrol    -30  2021-04  Car
4  2021-05-18    AAMI Car -94.20  2021-05  Car
0  2021-01-01  Car Petrol    -30  2021-01  Car
1  2021-01-08  Car Petrol    -30  2021-01  Car
2  2021-01-15  Car Petrol    -30  2021-01  Car
3  2021-01-22  Car Petrol    -30  2021-01  Car
4  2021-01-29  Car Petrol    -30  2021-01  Car
5  2021-02-05  Car Petrol    -30  2021-02  Car
6  2021-02-12  Car Petrol    -30  2021-02  Car
7  2021-02-19  Car Petrol    -30  2021-02  Car
3  2021-04-18    AAMI Car -94.20  2021-04  Car
8  2021-02-26  Car Petrol    -30  2021-02  Car
10 2021-03-12  Car Petrol    -30  2021-03  Car
11 2021-03-19  Car Petrol    -30  2021-03  Car
12 2021-03-26  Car Petrol    -30  2021-03  Car
13 2021-04-02  Car Petrol    -30  2021-04  Car
14 2021-04-09  Car Petrol    -30  2021-04  Car
15 2021-04-16  Car Petrol    -30  2021-04  Car
16 2021-04-23  Car Petrol    -30  2021-04  Car
18 2021-05-07  Car Petrol    -30  2021-05  Car
19 2021-05-14  Car Petrol    -30  2021-05  Car
9  2021-03-05  Car Petrol    -30  2021-03  Car
20 2021-05-21  Car Petrol    -30  2021-05  Car
2  2021-03-18    AAMI Car -94.20  2021-03  Car
0  2021-01-18    AAMI Car -94.20  2021-01  Car
1  2021-02-18    AAMI Car -94.20  2021-02  Car
21 2021-05-28  Car Petrol    -30  2021-05  Car

#### Actual Details ####

         Date  Amount                          Description  Cat   Period
9  18/01/2021  -94.20  Transfer to xx2574 NetBank AAMI Car  Car  2021-01

In [831]:
import pandas as pd

#import pandas as pd
#import numpy as np
#import os
#import glob

# pick up all offset files
#os.chdir("/Users/ronny/Downloads")
#extension = 'csv'
#offset_file = [i for i in glob.glob('*.{}'.format(extension))]




card = pd.read_csv(r'/Users/ronny/Downloads/CSVData-11.csv', header=None,usecols=[0,1,2])
card.columns=['Date','Amount','Description']
card['Cat'] = card.apply(lambda x:cat(x['Description']),axis=1)
card['Cat'].fillna('Other',inplace=True)
card['Period'] = pd.to_datetime(card['Date'],dayfirst=True).dt.to_period('M')

In [832]:
pd.pivot_table(card, values='Amount', index=['Cat'],
                    columns=['Period'], aggfunc=np.sum)

Period                 2020-10  2020-11   2020-12  2021-01
Cat
Car                    -212.08  -277.73 -1,585.56   -94.20
Discretionary          -343.34  -636.09   -537.00    -9.00
Exclude               5,112.80 3,204.00  4,161.43 2,352.55
Food & Entertainment -1,283.10  -610.81   -659.84  -784.35
Grocery                -576.16  -621.45   -606.41  -609.71
Insurance              -486.48  -719.06   -499.07  -456.13
Other                   -60.70   -38.59    -27.84   -24.40
Utilities              -202.39  -381.01   -138.10  -324.40
Wolli - Expense        -395.00      nan       nan      nan

In [833]:
card[(card['Period']=='2020-11') & (card['Cat']=='Insurance')]

,Date,Amount,Description,Cat,Period
224,29/11/2020,-32.94,WESTPAC LIFE INS Barangaroo NSW,Insurance,2020-11
236,27/11/2020,-31.99,Baby Village Bondi JunctiNSW,Insurance,2020-11
237,27/11/2020,-99.00,Baby Village Bondi JunctiNSW,Insurance,2020-11
238,27/11/2020,-99.00,Baby Village Bondi JunctiNSW,Insurance,2020-11
260,23/11/2020,-121.72,GENERAL INS HOME SYDNEY,Insurance,2020-11
274,19/11/2020,-59.78,WESTPAC LIFE INS Barangaroo NSW,Insurance,2020-11
275,19/11/2020,-56.38,WESTPAC LIFE INS Barangaroo NSW,Insurance,2020-11
276,19/11/2020,-18.27,WESTPAC LIFE INS Barangaroo NSW,Insurance,2020-11
280,16/11/2020,-38.13,GENERAL INS HOME SYDNEY,Insurance,2020-11
293,12/11/2020,-161.85,MEDIBANK PHI DEBIT MELBOURNE,Insurance,2020-11

In [834]:
card[card['Cat']=='Other'].head(60)

,Date,Amount,Description,Cat,Period
30,17/01/2021,-4.90,VICS AUSTRALIA EASTWOOD NSW,Other,2021-01
62,10/01/2021,-10.00,Q AND Y GROUP PTY LTD HAYMARKET,Other,2021-01
79,07/01/2021,-9.50,UNISON DESIGNS PTY LTD SYDNEY,Other,2021-01
109,30/12/2020,-4.30,HAYMARKET NEW YEN YE HAYMARKET NSW,Other,2020-12
134,22/12/2020,-6.60,J&Q GROUP PTY LTD HAYMARKET NSW,Other,2020-12
146,21/12/2020,-8.95,SERAFIC PTY LIMITED CHATSWOOD,Other,2020-12
154,18/12/2020,-7.99,ALLY FASHION SYDNEY NSW,Other,2020-12
219,30/11/2020,-1.10,NESPRESSO AUSTRALIA AUS,Other,2020-11
233,27/11/2020,-20.00,GroupTogether Pty Ltd. Sydney,Other,2020-11
243,27/11/2020,-15.90,UNISON DESIGNS PTY LTD SYDNEY,Other,2020-11
277,19/11/2020,-7.80,TIAN JIN SHI TANG PTY BURWOOD,Other,2020-11
299,10/11/2020,6.21,Patpat.com Dublin IRL,Other,2020-11
348,26/10/2020,-9.50,SYDNEY PARTY DECORAT SYDNEY NSW,Other,2020-10
360,23/10/2020,-12.00,SQ *COLOTAKO Haymarket AUS,Other,2020-10
394,14/10/2020,-9.70,THE LUCKY CHARM QVB SYDNEY AUS,Other,2020-10
412,11/10/2020,-6.10,Flying Dragon Group Miranda NSW,Other,2020-10
427,07/10/2020,-9.90,MATCH-YA HAYMARKET NSW,Other,2020-10
434,05/10/2020,-11.00,ANITA CK Chippendale NSW,Other,2020-10
446,02/10/2020,-2.50,NO SENSE ENTERTAINMENT WilliamstownAUS,Other,2020-10